@using Portfolio.Components.Generic

<header>
    <div class="wrapper">

        <div class="option" @onclick="@(() => SetSection("hero"))">
            <input class="input" type="radio" checked="@(_activeSection == "hero")" />
            <div class="btn"><span class="span">Home</span></div>
        </div>

        <div class="option" @onclick="@(() => SetSection("about"))">
            <input class="input" type="radio" checked="@(_activeSection == "about")" />
            <div class="btn"><span class="span">About me</span></div>
        </div>

        <div class="option" @onclick="@(() => SetSection("experience"))">
            <input class="input" type="radio" checked="@(_activeSection == "experience")" />
            <div class="btn"><span class="span">Experience</span></div>
        </div>

        <div class="option" @onclick="@(() => SetSection("projects"))">
            <input class="input" type="radio" checked="@(_activeSection == "projects")" />
            <div class="btn"><span class="span">Projects</span></div>
        </div>

        <div class="option">
            <ThemeSwitch />
        </div>
    </div>
</header>

@code {

    [Inject] public IJSRuntime JSRuntime { get; set; } = default!;

    private string _activeSection = "hero";
    private bool _ignoreObserver = false;

    private DotNetObjectReference<NavMenu>? _objRef;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _objRef = DotNetObjectReference.Create(this);
            await JSRuntime.InvokeVoidAsync("sectionObserver.init", _objRef);
        }
    }

    private async Task SetSection(string section)
    {
        _activeSection = section;

        _ignoreObserver = true;

        await JSRuntime.InvokeVoidAsync("scrollToSection", section);

        StateHasChanged();

        await Task.Delay(700);

        _ignoreObserver = false;
    }

    [JSInvokable]
    public Task SetActiveSection(string section)
    {
        if (_activeSection == section)
            return Task.CompletedTask;

        _activeSection = section;
        StateHasChanged();

        return Task.CompletedTask;
    }

    [JSInvokable]
    public Task<bool> ShouldIgnoreObserver()
    {
        return Task.FromResult(_ignoreObserver);
    }

    public void Dispose()
    {
        _objRef?.Dispose();
    }
}
